{% load chart_tags %}
        <script type="text/javascript">
            var chart;
		
	        var chartData = [
            {% for obj in chart.get_queryset %}
                {
                    {% pie_chart_obj_info chart obj %}
                }{% if not forloop.last %},{% endif %}
            {% endfor %}
            ];

            AmCharts.ready(function () {
                // PIE CHART
                chart = new AmCharts.AmPieChart();
                chart.dataProvider = chartData;
                chart.titleField = "title";
                chart.valueField = "value";
	            chart.colorField = "color";
                chart.outlineColor = "{{chart.outline_color}}";
	            chart.labelText = "{{chart.label_text}}";
		        chart.labelRadius = {{chart.label_radius}};
                chart.outlineAlpha = {{chart.outline_alpha}};
                chart.outlineThickness = {{chart.outline_thickness}};
				
                // LEGEND
				{% if chart.has_legend %}
				    var legend;
                    legend = new AmCharts.AmLegend();
                    legend.align = "{{chart.Legend.align}}";
                    legend.markerType = "{{chart.Legend.marker_type}}";
				    legend.position = "{{chart.Legend.position}}";
				    legend.switchable = {{chart.Legend.switchable|yesno:'true,false'}};
                    chart.addLegend(legend);
				{% endif %}
				            
                // WRITE
                chart.write("chartdiv");
            });
        </script>
    
    <div id="chartdiv" style="width:{{chart.width}}px; height:{{chart.height}}px;"></div>

