{% load chart_tags %}
<script type="text/javascript">

	AmCharts.ready(function () {
		createStockChart();
	});

	var chart{{div_id}};
	
	{% for dataset in chart.get_dataset_as_json %}
    	var chartData{{div_id}}{{forloop.counter}} = {{dataset|safe}};
    {% endfor %}
	
	function createStockChart() {
		chart{{div_id}} = new AmCharts.AmStockChart();
		chart{{div_id}}.pathToImages = "{{MEDIA_URL}}charts/images/";

        {% for dataset in chart.get_datasets %}
            var dataSet{{div_id}}{{forloop.counter}} = new AmCharts.DataSet();
            dataSet{{div_id}}{{forloop.counter}}.categoryField = "date";
            dataSet{{div_id}}{{forloop.counter}}.fieldMappings = [{
                fromField: "value",
                toField: "value"
            }];
            {% line_chart_dataset_info chart dataset div_id forloop.counter %}
            dataSet{{div_id}}{{forloop.counter}}.dataProvider = chartData{{div_id}}{{forloop.counter}};
            {% line_chart_dataset_info chart dataset div_id forloop.counter %}
        {% endfor %}

		chart{{div_id}}.dataSets = [
		    {% for dataset in datasets %}
		        dataSet{{div_id}}_{{forloop.counter}}{% if not forloop.last %},{% endif %}
		    {% endfor %}
		];

		// PANELS ///////////////////////////////////////////                                                  
		var stockPanel{{div_id}} = new AmCharts.StockPanel();
		stockPanel{{div_id}}.showCategoryAxis = {{chart.show_category_axis|yesno:'true,false'}};
		stockPanel{{div_id}}.title = "{{chart.title}}";
		stockPanel{{div_id}}.percentHeight = "{{chart.percent_height}}";

		// graph of first stock panel
		var graph{{div_id}} = new AmCharts.StockGraph();
		graph{{div_id}}.type = "line";
		graph{{div_id}}.valueField = "value";
		graph{{div_id}}.comparable = {{chart.comparable|yesno:'true,false'}};
		graph{{div_id}}.compareField = "value";
		graph{{div_id}}.showBalloon = {{chart.show_balloon|yesno:'true,false'}};
		graph{{div_id}}.useDataSetColors = {{chart.use_dataset_colors|yesno:'true,false'}};
		graph{{div_id}}.legendValueText = "{{chart.value_text}}"
		stockPanel{{div_id}}.addStockGraph(graph{{div_id}});

        // create stock legend  
		stockPanel{{div_id}}.stockLegend = new AmCharts.StockLegend();

        // set panels to the chart
		chart{{div_id}}.panels = [stockPanel{{div_id}}];

		var categoryAxesSettings{{div_id}} = new AmCharts.CategoryAxesSettings();
        categoryAxesSettings{{div_id}}.equalSpacing = {{chart.equal_spacing|yesno:'true,false'}};
        categoryAxesSettings{{div_id}}.maxSeries = {{chart.max_series}};
        chart{{div_id}}.categoryAxesSettings = categoryAxesSettings{{div_id}};
		
		// OTHER SETTINGS ////////////////////////////////////
		var sbsettings{{div_id}} = new AmCharts.ChartScrollbarSettings();
		sbsettings{{div_id}}.graph = graph{{div_id}};
		chart{{div_id}}.chartScrollbarSettings = sbsettings{{div_id}};


		// PERIOD SELECTOR ///////////////////////////////////
		var periodSelector{{div_id}} = new AmCharts.PeriodSelector();
		periodSelector{{div_id}}.position = "{{chart.PeriodSelector.position}}";
		periodSelector{{div_id}}.dateFormat = "{{chart.PeriodSelector.date_format}}";
		periodSelector{{div_id}}.inputFieldsEnabled = {{chart.PeriodSelector.input_fields_enabled|yesno:'true,false'}};
		periodSelector{{div_id}}.fromText = "{{chart.PeriodSelector.from_text}}";
		periodSelector{{div_id}}.toText = "{{chart.PeriodSelector.to_text}}";
		periodSelector{{div_id}}.periodsText = "{{chart.PeriodSelector.periods_text}}";
		periodSelector{{div_id}}.periods = [
		    {% for period in chart.PeriodSelector.periods %}
		        {
		            period: "{{period.period}}",
		            label: "{{period.label}}"
		            {% if period.count %},count: {{period.count}}{% endif %}
		            {% if period.selected %},selected: true{% endif %}
		        }{% if not forloop.last %},{% endif %}
		    {% endfor %}
		];
		chart{{div_id}}.periodSelector = periodSelector{{div_id}};

		// DATA SET SELECTOR
		var dataSetSelector{{div_id}} = new AmCharts.DataSetSelector();
		dataSetSelector{{div_id}}.position = "{{chart.dataset_selector_position}}";
		chart{{div_id}}.dataSetSelector = dataSetSelector{{div_id}};

		chart{{div_id}}.write('chartdiv{{div_id}}');
	}
</script>

<div id="chartdiv{{div_id}}" style="width:{{chart.width}}px; height:{{chart.height}}px;"></div>
