{% load chart_tags %}
<script type="text/javascript">
{% with chart.get_queryset as queryset %}

    var chart{{div_id}};
    
    var chartData{{div_id}} = [{
    {% for obj in queryset %}
        {% xy_chart_obj_info chart obj div_id forloop.counter %}
        {% if not forloop.last %},{% endif %}
    {% endfor %}
    }];

    AmCharts.ready(function () {
        // XY Chart
        chart{{div_id}} = new AmCharts.AmXYChart();
        chart{{div_id}}.pathToImages = "{{MEDIA_URL}}charts/amcharts/images/";
        chart{{div_id}}.dataProvider = chartData{{div_id}};
        chart{{div_id}}.startDuration = {{chart.start_duration}};
		chart{{div_id}}.fontFamily = "{{chart.font_family}}";
		

        // AXES				
        // X
        var xAxis{{div_id}} = new AmCharts.ValueAxis();
        xAxis{{div_id}}.title = "{{chart.XAxis.title}}";
        xAxis{{div_id}}.position = "{{chart.XAxis.position}}";
        xAxis{{div_id}}.autoGridCount = {{chart.XAxis.auto_grid_count|yesno:'true,false'}};
        chart{{div_id}}.addValueAxis(xAxis{{div_id}});

        // Y
        var yAxis{{div_id}} = new AmCharts.ValueAxis();
        yAxis{{div_id}}.title = "{{chart.YAxis.title}}";
        yAxis{{div_id}}.position = "{{chart.YAxis.position}}";
        yAxis{{div_id}}.autoGridCount = {{chart.YAxis.auto_grid_count|yesno:'true,false'}};
        chart{{div_id}}.addValueAxis(yAxis{{div_id}});
        
        // ZEICHNET DIE BULLETS
        {% with chart.get_selected as selected_obj %}
        {% for obj in queryset %}
            {% ifequal obj selected_obj %}
                {% xy_chart_bullet_info chart obj div_id forloop.counter 1 %}
            {% else %}
                {% xy_chart_bullet_info chart obj div_id forloop.counter %}
            {% endifequal %}
        {% endfor %}
        {% endwith %}

        // WRITE
        chart{{div_id}}.write("chartdiv{{div_id}}");
    });
{% endwith %}
</script>

<div id="chartdiv{{div_id}}" style="width:{{chart.width}}px; height:{{chart.height}}px;"></div>

