{% load chart_tags %}
<script type="text/javascript">

    var chart{{div_id}};
    
    var chartData{{div_id}} = {{chart.get_dataset_as_json|safe}};

    AmCharts.ready(function () {
        // XY Chart
        chart{{div_id}} = new AmCharts.AmXYChart();
        chart{{div_id}}.pathToImages = "{{MEDIA_URL}}charts/images/";
        chart{{div_id}}.dataProvider = chartData{{div_id}};
        chart{{div_id}}.startDuration = {{chart.start_duration}};
		chart{{div_id}}.fontFamily = "{{chart.font_family}}";
		

        // AXES				
        // X
        var xAxis{{div_id}} = new AmCharts.ValueAxis();
        xAxis{{div_id}}.title = "{{chart.XAxis.title}}";
        xAxis{{div_id}}.position = "{{chart.XAxis.position}}";
        xAxis{{div_id}}.autoGridCount = {{chart.XAxis.auto_grid_count|yesno:'true,false'}};
        chart{{div_id}}.addValueAxis(xAxis{{div_id}});

        // Y
        var yAxis{{div_id}} = new AmCharts.ValueAxis();
        yAxis{{div_id}}.title = "{{chart.YAxis.title}}";
        yAxis{{div_id}}.position = "{{chart.YAxis.position}}";
        yAxis{{div_id}}.autoGridCount = {{chart.YAxis.auto_grid_count|yesno:'true,false'}};
        chart{{div_id}}.addValueAxis(yAxis{{div_id}});
        
        // ZEICHNET DIE BULLETS
        {% with chart.get_selected as selected_obj %}
        {% for obj in chart.get_queryset %}
            var graph = new AmCharts.AmGraph();
            graph.xField = "x{{forloop.counter}}"; // **This is connected to the data above.
            graph.yField = "y{{forloop.counter}}"; // **This is connected to the data above.
            graph.balloonText = "{{chart.bullet_text}}";				
            graph.lineAlpha = {{chart.line_alpha}};
            graph.labelText = "{% xy_chart_get_label_text chart obj %}";
            {% ifequal obj selected_obj %}
                graph.bullet = "{{chart.selected_bullet_shape}}";
                graph.bulletSize = {{chart.selected_bullet_size}};
                graph.lineColor = "{% xy_chart_get_color chart obj 1 %}";
                graph.color = "{% xy_chart_get_text_color chart obj 1 %}";
            {% else %}
                graph.bullet = "{{chart.bullet_shape}}";
                graph.bulletSize = {{chart.bullet_size}};
                graph.lineColor = "{% xy_chart_get_color chart obj %}";
                graph.color = "{% xy_chart_get_text_color chart obj %}";
            {% endifequal %}
            chart{{div_id}}.addGraph(graph);
        {% endfor %}
        {% endwith %}

        // WRITE
        chart{{div_id}}.write("chartdiv{{div_id}}");

        if(typeof(window.chartdiv_mapper) == "undefined"){
            window.chartdiv_mapper = {};
        }
        window.chartdiv_mapper['chartdiv{{div_id}}'] =  chart{{div_id}};

    });
</script>

<div id="chartdiv{{div_id}}" style="width:{{chart.width}}px; height:{{chart.height}}px;"></div>

